<html>
<head>
	<title>Browse Anime</title>
	<link rel="stylesheet" href="css/anime_list.css">
</head>
<body>
	<!--    <button type="button" id="search_toggle">Open Search Options</button>-->
    <div id="search_box">
        <table>
            <tr>
                <td><label>Title:</label></td>
                <td>
                    <input type="text" id="search_title">
                </td>
            </tr>
            <tr>
                <td><label>Min Score:</label></td>
                <td>
                    <input type="number" id="search_score" min="0" max="10">
                </td>
            </tr>
<!--             <tr>
                <td><label>Min Votes:</label></td>
                <td>
                    <input type="number" id="search_votes" min="0" step="1">
                </td>
            </tr> -->
            <tr>
                <td><label>Type:</label></td>
                <td>
                    <div class="checkout_select">
                        <input type="checkbox" id="stype_special" name="stype_special" checked>
                        <label for="stype_manga">Special</label>
                        <input type="checkbox" id="stype_tv" name="stype_tv" checked>
                        <label for="stype_manga">TV</label>
                        <input type="checkbox" id="stype_movie" name="stype_movie" checked>
                        <label for="stype_manga">Movie</label>
                    <div>
                </td>
            </tr>
            <tr>
                <td><label>Adapted From:</label></td>
                <td>
                    <div class="checkout_select">
                        <input type="checkbox" id="sadapt_original" name="sadapt_original" checked>
                        <label for="stype_manga">Original</label>
                        <input type="checkbox" id="sadapt_light_novel" name="sadapt_light_novel" checked>
                        <label for="stype_manga">Light Novel</label>
                        <input type="checkbox" id="sadapt_manga" name="sadapt_manga" checked>
                        <label for="stype_manga">Manga</label>
                    <div>
                </td>
            </tr>
        </table>
        <button type="button" id="search_request">Search</button>
    </div>
    <br><br>

	<label>Sort By:</label>
    <select id="inp_sort_field">
        <option value="title" {% if defaults.sort_field == "title" %} selected="selected" {% endif %}>Title</option>
        <option value="rating" {% if defaults.sort_field == "rating"  %} selected="selected" {% endif %}>Rating</option>
    </select>
    <select id="inp_sort_order">
        <option value="descending" {% if defaults.sort_order == "descending" %} selected="selected" {% endif %}>Descending</option>
        <option value="ascending" {% if defaults.sort_order == "ascending" %} selected="selected" {% endif %}>Ascending</option>
    </select>
    <input id="btn_refresh" type="button" value="Refresh">
    <br>
	<label>Page:</label>
    <input id="btn_prev_page" type="button" value="<">
    <span id="current_page_indicator">{{defaults.page}}</span>
    <input id="btn_next_page" type="button" value=">">

	<table id=main_list>
		{% for anime in animeList %}
		<tr>
			<td class="dsc_td">
                <img class="dsc_anime_img" src={{anime.img}} alt={{anime.title_eng}}>
            </td>
            <td class="dsc_td"><div class="dsc_info">
                <p class="dsc_title_eng">
                    <a href="/anime/{{anime.id}}" >{{anime.title_eng}}</a>
                </p>
                <div>
                    <p class="dsc_sub dsc_title_native">{{anime.title_native}}</p>
                    <p class="dsc_sub dsc_score">{{anime.score}} / 10</p>
                    <p class="dsc_sub dsc_anime_type">{{anime.type}}</p>
                </div>
            </div></td>
		</tr>
		{% endfor %}
	</table>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/anime_list.js"></script>
<script type="text/javascript"> 
   var search_params = "{{search_params}}"
</script>
</html>
