<html>
<head>
	<title>{{animeInfo.title_eng}}</title>
	<link rel="stylesheet" href="/css/anime_page.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css">
	<link rel="stylesheet" href="/css/common.css">
</head>
<body>
	<div class="modal fade" id="submitTag" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">Add new tag</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <form action="{{animeIdLink}}/add_anime_tag" method="POST">
			  <div class="modal-body">
				<input class="form-control anime-tag-input" type="text" name="tagName" placeholder="Tag name" required autocomplete="off">
			  </div>
			  <div class="modal-footer submit-footer">
				  <button class="btn btn-primary submit-tag" type="submit">Submit Tag</button>
				  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  </div>
		  </form>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="submitRating" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">Submit rating</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <form action="{{animeIdLink}}/vote" method="POST">
			  <div class="modal-body">
				  <input class="form-control" type="number" name="user_rating" step="0.01" min="0" max="10" placeholder="Rating (0 - 10)" required>
			  </div>
			  <div class="modal-footer submit-footer">
				  <button class="btn btn-primary submit-tag" type="submit">Submit Rating</button>
				  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  </div>
		  </form>
		</div>
	  </div>
	</div>
	{% include "navbar.html" %}
    <div class="container content">
		<div class="row">
			<div class="col-md">
				<div class="crop">
					<img class="waifu-img" src={{animeInfo.img}}></img>
				</div>
			</div>
			<div class="col-md-8" id="main_info_container">
				<p class="title_eng">{{animeInfo.title_eng}}</p>
				<p class="dsc_sub dsc_title_native">{{animeInfo.title_native}}</p>
				<p class="dsc_sub dsc_score">{{animeInfo.score}} / 10</p>
				<p class="dsc_sub dsc_anime_type">{{animeInfo.type}}</p>
				<p class="dsc_sub dsc_anime_tag">{{animeTagInfo.name}}</p>
				<button class="btn btn-secondary" data-toggle="modal" data-target="#submitRating">Rate</button>
				<br><br>
				<p class="section_title">Tags:</p><!--
				{%for t in animeTagInfo %}
				--><span class="tag tag-click" data-tag="{{t.name}}">{{t.name}}</span><!--
				{% endfor %}
				--><button class="tag tag-new oi" data-glyph="plus" data-toggle="modal" data-target="#submitTag"></button>
			</div>
		</div>

		<br><br><br>

		{% for r in ["Main", "Supporting", "Minor"] %}
			<h2>{{r}} characters:</h2>
			<br>
			
			<div class="character_list row">
				{% for c in characterList  %}
					{% if c.role === r.toLowerCase() %}
						<a class="col-sm-3" href="/waifu/{{c.waifu_id}}">
							<div class="crop">
								<img class="waifu-img" src="{{c.img}}"></img>
							</div>
							<h4 class="waifu-name">{{c.name_eng}}</h4>
						</a>
					{% endif %}
				{% endfor %}
			</div>

			<br>
		{% endfor %}
    </div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script src="/js/typeahead.bundle.min.js"></script>
	<script src="/js/tags.js"></script>
	<script src="/js/anime_page.js"></script>
</body>
</html>
 
