<html>
<head>
	<title>Browse Anime</title>
	<link rel="stylesheet" href="/css/anime_list.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.11.0/jquery.typeahead.min.css">
	<link rel="stylesheet" href="/css/tagsinput.css">
	<link rel="stylesheet" href="/css/common.css">
</head>
<body>
	{% include "navbar.html" %}
	<div class="container content">
		<form id="searchForm">
			<div class="form-group">
				<label for="search_title">Title</label>
				<input class="form-control" type="text" name="title" id="search_title" placeholder="Title">
			</div>

			<div class="form-row justify-content-md-left">
				<div class="form-group col-md-2">
					<label for="search_score">Min Score</label>
					<input class="form-control" type="number" name="min_score" id="search_score" min="0" max="10">
				</div>
				<div class="form-group col-md-auto">
					<label>Type</label><br>
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-secondary">
							<input type="checkbox" id="type-special" name="type-special">Special
						</label>
						<label class="btn btn-secondary">
							<input type="checkbox" id="type-tv" name="type-tv">TV
						</label>
						<label class="btn btn-secondary">
							<input type="checkbox" id="type-movie" name="type-movie">Movie
						</label>
					</div>
				</div>
				<div class="form-group col-md-auto">
					<label>Adapted From</label><br>
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-secondary">
							<input type="checkbox" id="adapt-original" name="adapt-original">Original
						</label>
						<label class="btn btn-secondary">
							<input type="checkbox" id="adapt-light-novel" name="adapt-light-novel">Light Novel
						</label>
						<label class="btn btn-secondary">
							<input type="checkbox" id="adapt-manga" name="adapt-manga">Manga
						</label>
					</div>
				</div>
			</div>

			<div class="form-row justify-content-md-left">
				<div class="form-group col-md-4">
					<label for="search_score">Sort by</label>
					<div class="input-group">
						<select class="form-control custom-select" id="inp_sort_field" name="sort_field">
							<option value="title">Title</option>
							<option value="rating" selected>Rating</option>
						</select>
						<select class="form-control custom-select" id="inp_sort_order" name="sort_order">
							<option value="descending" selected>Descending</option>
							<option value="ascending">Ascending</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-4">
					<label for="search_score">Search tags</label>
					<input class="form-control" type="text" name="tags_whitelist" id="tags_whitelist">
				</div>
				<div class="form-group col-md-4">
					<label for="search_score">Blacklist Tags</label>
					<input class="form-control" type="text" name="tags_blacklist" id="tags_blacklist">
				</div>
			</div>

			<div class="form-row justify-content-md-left">
				<div class="form-group col-md-4">
					<label for="search_score">Page</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<button class="btn btn-secondary" id="btn_prev_page">&lt;</button>
						</div>
						<input class="form-control" id="page" type="number" value="1" name="page">
						<div class="input-group-append">
							<button class="btn btn-secondary" id="btn_next_page">&gt;</button>
						</div>
					</div>
				</div>
			</div>
		</form>

		<table id="main_list">
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="/js/typeahead.bundle.min.js"></script>
	<script src="/js/tagsinput.js"></script>
	<script src="/js/tags.js"></script>
	<script src="/js/anime_list.js"></script>
</body>
</html>
