<html>
<head>
	<title>Waifus!!!!!</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<table>
		<tr>
			<th>Title</th>
			<th>Rating</th>
			<th>Popularity</th>
			<th>Score</th>
			<th>Status</th>
			<th>Premiered</th>
		</tr>
		{% for waifu in waifuList %}
		<tr>
			<td>{{waifu.title}}</td>
			<td>{{waifu.rating}}</td>
			<td>{{waifu.popularity}}</td>
			<td>{{waifu.score}}</td>
			<td>{{waifu.status}}</td>
			<td>{{waifu.premiered}}</td>
		</tr>
		{% endfor %}
	</table>

	<br>
	Add waifus: <br>
	<form action="add" method="POST">
		<table>
			<tr><td>Title</td><td><input type="text" name="title"></td></tr>
			<tr><td>Rating</td><td><input type="text" name="rating"></td></tr>
			<tr><td>Popularity</td><td><input type="text" name="popularity"></td></tr>
			<tr><td>Score</td><td><input type="text" name="score"></td></tr>
			<tr><td>Status</td><td><input type="text" name="status"></td></tr>
			<tr><td>Premiered</td><td><input type="text" name="premiered"></td></tr>
		</table>
		<input type="submit" value="Submit">
	</form>
</body>
</html>
