<html>
<head>
	<title>{{waifuInfo.name_eng}}</title>
	<link rel="stylesheet" href="/css/waifu_page.css">
</head>
<body>
    <div id="main_header_container">
        <div id="image_container">
            <img id="anime_img" src={{waifuInfo.img}}></img>
        </div>
        <div id="main_info_container">
            <p class="title_eng">{{waifuInfo.name_eng}}</p>
            <table border="1" cellpadding="1" cellspacing="1" style="width: :100%;"> 
                <tbody>
                    <tr>
                        <th>Japanese Name</th>
                        <td style="text-align:center;">{{waifuInfo.name_native}}</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td style="text-align:center;">{{waifuInfo.gender}}</td>
                    </tr>
                    <tr>
                        <th>Hair Color</th>
                        <td style="text-align:center;">{{waifuInfo.hair_color}}</td>
                    </tr>
                     <tr>
                        <th>Tags</th>
                        <td style="text-align:center;">
                            {%for t in waifuTags %}
                            <p>{{t.name}}</p>
                            {% endfor %}
                        </td>
                    </tr> 
                    <tr>
                        <th>Likes</th>
                        <td style="text-align:center;">{{waifuInfo.likes}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
    
</body>
</html>

