#anime_img {
    height: 300;
    width: auto;
}
#image_container{
    flex: 0 0 auto;
}
#main_header_container{
    display: flex;
}
#main_info_container{
    padding: 1em;
}
.title_eng {
    font-family: Verdana, Arial;
    font-size: 1.6em;
    line-height: 1.5em;
    margin:0
}
.dsc_sub {
    font-family: Verdana, Arial;
    color: #9b9b9b;
    margin:0;
    font-size: 1em;
    line-height: 1.4em;
}
.section_title {
    font-family: Verdana, Arial;
    font-size: 1.3em;
}
.character_list {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.character_list > div {
    display: inline-block;
    text-align: center;
    margin: 14px;
    width: 10em;
    padding-left: 1em;
    padding-right: 1em;
}
.character_list > div > div {
    display: table;
}
.character_list > div > div > img{
    max-height: 10em;
    max-width: 7em;
    margin-bottom: 1em;
}
.character_list > div > div > p{
    max-height: 10em;
    max-width: 7em;
    white-space: initial;
    text-align:center;
    vertical-align: middle;
    display: table-row;
    margin-top:
}